<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiaryWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add
 name="ApplicationDbContext"
 connectionString="Server=(local);Database=DiaryWPF;User Id=Stachu;Password=123;"
providerName="System.Data.SqlClient" />
</connectionStrings>
    <applicationSettings>
        <DiaryWPF.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>DiaryWPF</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Stachu</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
        </DiaryWPF.Properties.Settings>
    </applicationSettings>
</configuration>